{{> header}}
{{> navbar}}
<div class="container mb-5">
<div class="mt-5 d-flex flex-row justify-content-between mar-bot">
    <h1 class="text-light fw-bold">Type.</h1>
    <button class="btn btn-primary text-uppercase btn-sm-lg" style="height: 40px !important;"><a href="/add-type" class="text-decoration-none text-light">Add data</a></button>
</div>
<hr class="text-light">
    <table class="table table-dark table-hover text-light">
    <thead>
        <tr>
        <th scope="col">No</th>
        <th scope="col">Hero Type</th>
        <th scope="col">Control</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        {{#each types}}    
        <th scope="row">{{this.id}}</th>
            <td>{{this.name}}</td>
            <td>
                <div class="text-start">
                    <a class="text-decoration-none" href="/edit-type/{{this.id}}">
                        Edit
                    </a> | 
                    <a class="text-decoration-none" href="/delete-type/{{this.id}}">
                        Delete
                    </a>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
    </table>
</div>
{{> footer}}